@import 'variables';

@mixin textWhite{
    text-align: center;
    color: white;
}

@mixin fontSize{
    font-size: 14px;
}

@mixin btn{
    background: linear-gradient(to left, $blue, $cyan);
    padding: 12px 80px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

@mixin mobileFlex{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: $mcenter;
    padding: 75px 0;
}

@mixin largeFlex{
    display: flex;
    flex-direction: row;
    width: 720px;
    
}