@import url('https://fonts.googleapis.com/css?family=Raleway');

@import 'variables';
@import 'mixins';

// *{
//     width: 100%;
//     margin: 0;
// }

body{
     max-width: 100%;

    margin: $mcenter;
    font-family: 'Raleway';
}

header{
    background: $dark;
    max-width: 100%;
    margin: $mcenter;
    display: flex;
	align-items: center;
    justify-content: space-around;
    
    .header__logo{
        height: 40px;
        width: 120px;
        padding: 10px;
    }

    .links{
        padding: 15px;
        list-style: none;
	    text-align: right;

        .link{

             display: inline;
            
            .link--content{
                text-decoration: none;
                color: white;
                display: inline;
    padding: .5em;
    @include fontSize;
            }
        }
    }


}


#wrapper{
    max-width: 100%;
    background: $dark;
    margin: $mcenter;

    .container{
        width: 370px;
        margin: $mcenter;
        padding: 20px 0 30px 0;
        .container__img{
            width: 370px;
        }
        .content{
           @include textWhite;

           .content__title{
               padding: 10px 0;
           } 
           .content__text{
               padding: 10px 0 30px 0;
               @include fontSize;
           }

           .btn{
               @include btn;
           }
        }
    }

    .services{
        @include mobileFlex;

        .service{
            text-align: center;
            color: white;
            padding: 10px 0 50px 0;
            img{
                width: 70px;
                height: auto;
                padding: 10px;
            }
            .service__title{
                font-size: 1.2rem;
                padding: 10px;
            }

            .service__text{
               @include fontSize;
            }
        }
    }

    .productive{
       @include mobileFlex;
        color: white;
        text-align: left;
        
        .productive__title{
            font-size: 1.2rem;
            padding: 60px 0 25px 0;
        }
        .productive__text{
            width: 370px;
            @include fontSize;
            padding: 20px 0;
        }

        .productive__link{
            color: $cyan;
            text-decoration: none;
            border-bottom: 1px solid $cyan;
            width: 50%;
            padding-top: 20px;
            .arrow__img{
                width: 20px;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }

    .testimonials{
        @include mobileFlex;
        
        .quotes{
            width: 40px;
        }
        .testimonial{
            max-width: 330px;
            color: white;
            margin-bottom: 40px;
            background: $dark4;
            border-radius: 5px;
            flex-wrap: wrap;
            padding: 20px;
            .testimonial-text{
                @include fontSize;
                padding: 10px 0 10px 10px;
            }
            .testimonial__profile{
                padding-top: 25px;
                display: inline-flex;
                .profile__img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }

    .form{
       @include mobileFlex;
        background: $dark4;
        color: white;
        border-radius: 5px;
        flex-wrap: wrap;
        padding: 20px 15px;
        margin-bottom: -80px;
        z-index: 999 !important;
        position: relative;

        .form__title{
            margin: 15px auto;
            text-align: center;
        }
        .form__text{
            @include fontSize;
            padding: 10px 0;
            text-align: center;
    }   
        .email__input{
            max-width: 350px;
            border-radius: 30px;
            color: white;
            padding: 12px 0 12px 15px;
            margin: 20px 0;
            text-decoration: none;
        }


    .btn{
        @include btn;
        padding: 12px 0;
        text-align: center;
        margin-bottom: 20px;
    }
}

}
.footer{
    background: $dark3;
    max-width: 100%;
    margin: $mcenter;
    display: flex;
    // align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 120px;

    .footer__img{
        width: 180px;
        height: 60px;
        padding: 10px 0;
    }

    .footer__item{
        width: 350px;
        margin: $mcenter;
        display: inline-flex;

      .fas{
          margin-right: 10px;
      }

      .footer__item--icon{
          margin-right: 15px;
      }

    .footer__links{
        color: white;
    }

    .footer__link{
        list-style: none;
        padding-bottom: 15px;

        a {
            text-decoration: none;
            color: white;
        }
    }
    .footer__links--group{
        padding: 10px 30px;
        margin-left: -70px;
    }
    
}
.contact__icons{
    // margin: $mcenter;
    width: 350px;
   justify-content: center;
   padding-bottom: 30px;
  
    a .fab{
        color: white;
    border: 0.5px solid lightgray;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
     }
}
}

@media(min-width: 751px){
    .header{
	align-items: none;
    justify-content: space-between;
    }
    #wrapper{
    .container{
        display: inline;
         margin: $mcenter;

        .content{
            width: 720px;
            margin: $mcenter;

        }

    }

    .container__img{
        display: flex;
        margin: $mcenter;
    }

   .services{
       min-width: 750px;
       display: table;
       list-style: none;
       padding-top: 20px;

       li{
            display: flex;
          align-items: baseline;
             justify-content: space-around;
            list-style: none;
            .service{
                width: 300px;
                
                
            }
            .service__container{
                text-align: left;
       }
    }
   }

//    .productive{
       
//        display: inline;
//        width: 750px;
//        position: relative;
//     //    vertical-align: middle;
//     img{
//         float: left;
//     } 

//     .test{
//         float: right;
//     }
   
//  }
.productive{
       
    display: flex;
    width: 750px;
    flex-direction: row;
    
.illustration{
    width: 350px;
    padding-right: 40px;
    padding-top: 60px;
 } 

 .test{
   width: 310px;
 }


}

.testimonials{
    .quotes{
        margin-left: -180px;
        margin-bottom: -10px;
        // z-index: -1;
    }
    .row{
    width: 750px;
    display:flex;
    flex-direction: row;
    margin-left: -180px; 
       
    .testimonial{
        width: 250px;
        margin-right: 10px;

    }

}
}

.form{
    width: 750px;
    .email__input{
        width: 730px;
    }
}
}
}