@import 'variables';
@import 'mixins';

*{
    width: 100%;
    margin: 0;
}

body{
    width: 100%;
    margin: $mcenter;
}

header{
    background: $dark;
    width: 750px;
    margin: $mcenter;
    display: flex;
	align-items: center;
	justify-content: space-around;

    .header__logo{
        height: 50px;
        width: 120px;
        padding: 10px;
    }

    .links{
        // align-content: flex-end;
        list-style: none;
        margin: 1em;
	    text-align: right;

        .link{

             display: inline;
            
            .link--content{
                text-decoration: none;
                color: white;
                display: inline;
	padding: .5em;
            }
        }
    }


}


#wrapper{
    width: 750px;
    background: $dark;
    margin: $mcenter;

    .container{
        width: 370px;
        margin: $mcenter;
    }
}
